[submodule "werkr.agent"]
	path = src/Werkr.Agent
	url = https://git.agent.werkr.app
	ignore = all
[submodule "werkr.common"]
	path = src/Werkr.Common
	url = https://git.common.werkr.app
	ignore = all
[submodule "werkr.common.configuration"]
	path = src/Werkr.Common.Configuration
	url = https://git.common.configuration.werkr.app
	ignore = all
[submodule "werkr.installers"]
	path = src/Werkr.Installers
	url = https://git.installers.werkr.app
	ignore = all
[submodule "werkr.server"]
	path = src/Werkr.Server
	url = https://git.server.werkr.app
	ignore = all
