###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
# Ignore auto generated api documentation - this is automatically pushed to the documentation page via github actions.
/**/api/*.yml
/**/api/.manifest
_site

# Cloned Project repos
/src/Werkr.Agent/**
/src/Werkr.Common/**
/src/Werkr.Common.Configuration/**
/src/Werkr.Installers/**
/src/Werkr.Server/**

# Github Actions (or manual docs testing) copied files (these all also exist in the root of the repo or the docs/docfx dir).
/docs/index.md
/docs/LICENSE.md
/docs/_config.yml
/docs/CNAME
/docs/docfx.json
/docs/filterConfig.yml
/docs/README.md
/docs/toc.yml
/docs/templates
