Package: werkr-server
Version: {{VERSION}}
Section: admin
Priority: optional
Architecture: {{ARCHITECTURE}}
Depends: libicu74 | libicu72 | libicu70, libssl3 | libssl3t64
Maintainer: Werkr <support@werkr.app>
Description: Werkr Server — Blazor UI + REST/gRPC API
Homepage: https://werkr.app
